.bg-orange {
    background-color: rgb(255, 192, 23);
}

.banner-text {
    color: black;
    font-size:6.9em;
    letter-spacing:-0.05em;
    font-weight: 500;
    font-family: 'Times New Roman', Times, serif, Helvetica, sans-serif;
}

.text-gray {
    color: rgb(230, 230, 230);
}

.text-small {
    color:rgb(117, 117, 117); 
    font-size: 0.8em; 
    letter-spacing: -0.05em;
}

.text-head {
    font-size: 0.8em;
    font-weight: 600;
}

.navbar-nav > li{
    padding-right:5px;
  }

.list-inline-item {
    padding-top: 5px;
    padding-bottom: 5px;
}

.text-small-button {
    font-size: 0.95em;
    color: rgb(143, 142, 142)
}

.border-grey {
    border: 1px solid rgba(173, 171, 171, 0.275);
}

.link {
     text-decoration: none !important;
     color: rgb(111, 110, 110);
     font-size: 0.90em;
     font-weight: 600;
}

#side-footer > ul > li {
    padding: 0.8em;
}